.row.contact-form
  .secHeader
    h3.text-center
      | обратный вызов
  fieldset.col-md-12.col-sm-12
    = form_for @message, url: messages_path do |f|
      - if @message.errors.any?
          #error_explanation
            .alert.alert-error
              | Проблемы возникли со следующими полями
            ul
              - @message.errors.full_messages.each do |msg|
                li
                  | *** 
                  = msg
      = f.text_field :name, :placeholder => 'Имя'

      = f.text_field :phone, :placeholder => 'Телефон в формате 38095XXXXXXX'
       
      = f.text_area :comment, :placeholder => 'Комментарий'
      
      = f.submit :Отправить, class:'btn btn-info'
      end
    end
