doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h1
      | Здраствуйте! 
    h2
      | Пользователь 
      = @message.name
    h3
      | заказал(a) услугу обратный вызов на номер
      br
      = @message.phone
      br
      | Коментарий:
      br
      = @message.comment
      