doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h1
      | Здраствуйте! 
    h2
      | Пользователь 
      = @call_master.name
    h3
      | заказал(a) услугу Вызов мастера онлайн 
      на номер телефона:
      = @call_master.phone
      br
      | Поломка
      br
      = @call_master.breaking
      br
      | Адресс:
      = @call_master.address