#templatemo_about.section3
  .container
    .row
      .col-md-12
        .secHeader
          h1.text-center
            | О нас
          p.text-center
            small
              b
               | Наша компания более 10 лет на рынке услуг. За плечами огромный опыт.
          p.text-center
            b
             | У нас высокое качество обслуживания по самым доступным ценам! Все наши клиенты имеют большое преимущество:
          br
        ul.services
          li
            h4
              b
                | Мы даем гарантию 1 год на замену деталей;
          li
            h4
              b
                | У нас индивидуальный подход к каждому клиенту;
          li
            h4
              b
                | Работаем круглосуточно в будни, выходные и праздничные дни;
          li
            h4
              b 
                | Мы даем гарантию 1 год на замену деталей;
          li
            h4
              b
                | При покупке б/у стиральной машины Вы получаете химическую чистку в подарок.
        br
        p[style="font-size:18px"]
          b
            | Если Вам необходимы услуги по ремонту стиральной машины или холодильника в Киеве или Киеской области, звоните уже сейчас! Для новых и постоянных клиентов действуют хорошие скидки!
        .secHeader
          h2.text-center[style="color:red"]
            | Расширение компании
          p.text-center
            b
              | В связи с расширением компании, в команду Platinum-Service производится набор высококвалифицированных мастеров по специальностям:
        ul.services
          li
            h4
              b
                | Мастер по ремонту стиральных и посудомоечных машин;
          li
            h4
              b
                | Мастер по ремонту холодильников;
          li
            h4
              b
                | Мастер по ремонту электроники (модулей управления стиральных машин, посудомоечных машин, холодильников);
          li
            h4
              b
                | Мастер-сантехник.
        .row
          .col-md-12
            .socials.sbot
              ul
                li
                  a[href="https://twitter.com"]
                    i.fa.fa-twitter.soc
                li
                  a[href="https://www.facebook.com"]
                    i.fa.fa-facebook.soc
                li
                  a[href="https://www.vk.com"]
                    i.fa.fa-vk.soc
                li
                  a[href="https://www.instagram.com"]
                    i.fa.fa-instagram.soc
