#templatemo_contact.section5
  .container
    .row
      .col-md-12
        .secHeader
          h1.text-center
            | Наши контакты
    .row
      .col-md-6.col-md-offset-3.text-center.col-sm-12.col-xs-12
        .addr
          ul
            li
              i.fa.fa-map-marker
              | г.Киев, ул.Березняковская, д.27
            li
              i.fa.fa-mobile-phone
              | (068) 126-83-79
            li
              i.fa.fa-mobile-phone
              | (095) 636-86-75
            li
              i.fa.fa-mobile-phone
              | (063) 863-99-49
            li
              i.fa.fa-envelope
              | evgeniymozgovoy1234@gmail.com
            li
              i.fa.fa-envelope
              | info@kiev-servis.com.ua
    p.text-center
      b
        | Оставьте свои данные в этой форме и мы Вам обязательно перезвоним.
    .row
      .col-md-6.col-md-offset-3.col-lg-6.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
        = render 'messages/form'
    .row
      .col-md-6.col-md-offset-3.col-lg-6.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
        = render 'call_masters/form'
.opener.text-center
  span
    a#togg[href="#foo" onclick="toggle_visibility('foo');"]
      | Скрыть
