footer#foo.footer
  .container
    .row
      .col-md-4
        .addr
          p
            span[style="color:#00BFFF"]
              | Platinum-Service 
            | дорожит своей репутацией и своими клиентами, поэтому мы предоставляем услуги на высшем уровне.
          p
            | Позвоните к нам! Наши мастера быстро и эффективно устранят поломку в любой точке Киева и Киевской области
      .col-md-4
        .logo
          = image_tag "/images/Logo.png", alt: 'Platinum-Service'
      .col-md-4
        p
          | Для наших клиентов действуют постоянные скидки!
            Не упустите возможности воспользоваться качественными услугами опытных мастеров!
    .row
      h3.text-center[style="color:#00BFFF"]
        | Наши контакты  
      ul.footer_contact.col-md-6.col-md-offset-3.text-center
        li
          i.fa.fa-map-marker
          |  г.Киев, ул.Березняковская, д.27
        li
          i.fa.fa-mobile-phone
          |  (068) 126-83-79
        li
          i.fa.fa-mobile-phone
          |  (095) 636-86-75
        li
          i.fa.fa-mobile-phone
          |  (063) 863-99-49
        li
          i.fa.fa-envelope
          | www.evgeniymozgovoy1234@gmail.com
        li
          i.fa.fa-envelope
          | info@kiev-servis.com.ua
      
#back-top.gotop.text-center
  a[href=""]
    | Вернуться вверх
.bfWrap.text-center
  .templatemo_footer
    | Copyright © 2017 Platinum-Service created by Sobolev Sergey
