header
  .mWrapper.navbar.navbar-fixed-top
    #templatemo_top
      .container
        .row
          .mainTop
            .hidden-xs.hidden-sm.col-md-6
              .mailme
                a[href="#"]
                  i.fa.fa-envelope
                  | info@kiev-servis.com.ua
            .col-sm-12.col-md-6
              .socials
                ul
                  li
                    a[href="https://twitter.com"]
                      i.fa.fa-twitter.soc
                  li
                    a[href="https://www.facebook.com"]
                      i.fa.fa-facebook.soc
                  li
                    a[href="https://www.vk.com"]
                      i.fa.fa-vk.soc
                  li
                    a[href="https://www.instagram.com"]
                      i.fa.fa-instagram.soc

          .col-sm-3.col-md-4.col-xs-5
            .logo
              a[href="#"]
                = image_tag "/images/Logo.png", alt: 'Platinum-Service'
          .col-sm-9.col-md-8.col-xs-7
            nav.mainMenu
              ul.nav
                li
                  a#up[href="#"]
                    | Наверх
                li
                  a[href="#templatemo_services"]
                    | Услуги и Цены
                li
                  a[href="#templatemo_portfolio"]
                    | Как мы работаем
                li
                  a[href="#templatemo_about"]
                    | О нас
                li
                  a[href="#templatemo_contact"]
                    | Контакты
