#templatemo_portfolio.section2
  .container
    .row
      .col-md-12
        .secHeader
          h1.text-center
            | Как мы работаем
          p.text-center
            | Наша схема работы очень проста и понятна. От обращения до ремонта техники происходит несколько этапов
    .row.text-center
      .col-md-4.col-sm-4.features
        i.fa.fa-phone.fa-4x
        p.title
          | Прием заявки
        p.text
          | Вы сообщаете адрес и описываете неисправность. Диспетчер проводит первичную диагностику, сообщает время визита мастера.
      .col-md-4.col-sm-4.features
        i.fa.fa-clock-o.fa-4x
        p.title
          | Выезд мастера
        p.text 
          | Мастер согласовывает с Вами время визита и точно в договренное время он прибудет. 
      .col-md-4.col-sm-4.features
        i.fa.fa-clock-o.fa-4x
        p.title
          | Диагностика
        p.text 
          | Мастер сообщает информацию о поломке, возможных причинах её возникновения, и способах ремонта.
    .row.text-center
      .col-md-4.col-sm-4.features
        i.fa.fa-calculator.fa-4x
        p.title
          | Расчет стоимости
        p.text 
          | После диагностики мастер сообщает вам окончательную стоимость ремонта, которая будет фигурировать в документах.
      .col-md-4.col-sm-4.features
        i.fa.fa-wrench.fa-4x
        p.title
          | Ремонт техники
        p.text 
          | Наши линейные автомобили укомплектованы внушительным запасом деталей. Среднее время ремонта от 45 минут до 2 часов.
      .col-md-4.col-sm-4.features
        i.fa.fa-pencil-square-o.fa-4x
        p.title
          | Гарантия
        p.text 
          | Гарантия на запчасти 3-6 месяцев. Гарантия на работу мастера по ремонту техники составляет от 6 до 12 месяцев.
    br
    br
    br
    .row
      .col-md-12
        .secHeader
          h2.text-center
            | Мы работаем со следующими 
            span[style="color:#00BFFF"]
             | марками 
      .col-md-10.col-md-offset-1
        = image_tag "/images/technika.png"