#templatemo_services.section1
  .container
    .row
      .col-md-12
        .secHeader
          h1.text-center
            | Наши услуги
          p.text-center[style="color:red"]
            b
              | АКЦИЯ!!! Всем нашим клиентам СКИДКИ на ремонт техники от 5%!
              br
              | Работаем круглосуточно!
                Звоните в любое удобное для Вас время!
        .row.service_image
          .ice.col-md-6.col-md-offset-3.col-sm-12.col-xs-12.col-md-offset-1
            = image_tag "/images/remont.png", alt: 'Ремонт холодильников, эдектропечей'
        br
        br
        h4.text-center
          b
            | Наша фирма производит следующиe виды ремонтных
            span[style="color:#00BFFF"]
             |  услуг
          br
        ul.services
          li.first
            h4.text-center
              b
               | Мастер по ремонту стиральных машин.
          .wash.col-md-3.col-md-offset-1.col-sm-6.col-xs-6.col-lg-6
            = image_tag "/images/wash_mashine.jpg", alt: 'Ремонт стиральных машин'
          li
            h4
              b
               | Мастер по ремонту холодильников.
          li
            h4
              b
               | Мастер по ремонту сушильных машин.
          li
            h4
              b
               | Мастер по ремонту посудомоечных машин, пароварок.
          .dish.col-md-2.col-sm-6.col-xs-6.col-lg-6
            = image_tag "/images/dish_mashine.png", alt: 'Ремонт посудомоечных машин'
          li
            h4
              b
               | Мастер по ремонту электроплит, электродуховок, микроволновок.
          li
            h4
              b
               | Мастер электрик.
          li
            h4
              b
               | Мастер сантехник.
          li
            h4[style="color:red"]
              b
               | Скупка Б/У стиральных машин
          li
            h4[style="color:red"]
              b
               | Продажа Б/У стиральных машин
        br
        br
        br
        h2.text-center
          | Цены
        ul.services
          li
            h4
              b
                | Стоимость вызова мастера для ремонта стиральной машины:
              ul
                li
                  p
                    b
                      | По Киеву 90 гривен
                li
                  p
                    b
                      | По Киевской области 90 гривен + 10 гривен за каждый километр
          li
            h4
              b
                | Стоимость вызова мастера для ремонта посудомоечной или сушильной машины:
              ul
                li
                  p
                    b
                      | по Киеву 200 гривен
                li
                  p
                    b
                      | по Киевской области 200 гривен + 10 гривен за каждый километр

            li 
              h4
                b
                  | Стоимость вызова мастера для ремонта холодильника:
                ul
                  li
                    p
                      b
                        | по Киеву 200 гривен
                  li
                    p
                      b
                        | по Киевской области 200 гривен + 10 гривен за каждый километр
            li
              h4
                b
                  | Минимальная работа мастера от 150 гривен
            li
              h4
                b 
                  | Каждый клиент получает гарантийный талон на проведенный комплекс работ
                    по ремонту стиральной машины. Срок действия талона 1 год.
            li
              h4
                b 
                  | Диагностика стиральной машины и консультации - бесплатно!
    .row.clean
      .col-md-12
        .secHeader
          h1.text-center
            | Клининговые услуги
        h4.text-center 
          b
            | Наша компания с удовольствием поможет Вам поддерживать ежедневную чистоту квартир, домов, офисов, кафе, ресторанов, складских помещений, гостиниц и других помещений. В нужные сроки с лучшим качеством!
        h4.text-center[style="color:red"]
          b
           | АКЦИЯ!!! Новым клиентам СКИДКИ на первую уборку 10%! Звоните сейчас!

        br
      ul.col-md-5.col-sm-7.services
        li
          h4
            b
             | Уборка квартир и частных домов.
        li
          h4
            b
             | Уборка административных помещений и офисов.
        li
          h4
            b
             | Уборка производственных помещений, складов.
        li
          h4
            b
             | Уборка отелей.
        li
          h4
            b
             | Уборка ресторанов, кафе.
        li
          h4
            b
             | Уборка торговых центров, супермаркетов.
        li
          h4
            b
             | Уборка после ремонта.
      .col-md-5.col-md-offset-2.col-sm-5.col-xs-12.text-center
        =image_tag "/images/clean1.png", alt: 'Уборка квартир, помещений'
        br
    .row.price
      .secHeader
        h2.text-center[style="color:#00BFFF"]
          | Цены на клининговые услуги
      ul
        li
          h2.text-center[style="color:red"]
            b
              | Привлекательные цены
        ul.services
          li
            h4
              b
                | Уборка кафе и ресторанов:

              ul
                li
                  p
                    b
                      | площадь от 40 до 80 м2 - от 1375 грн.
          li
            h4
              b
                | Уборка складских помещений:
                li
                  p
                    b
                      | площадь от 40 до 80 м2 - от 716 грн.:
          li
            h4
              b
                | Уборка гостиниц и хостелов:
                li
                  p
                    b
                      | площадь от 40 до 80 м2 - от 632 гривен
          li  
            p 
              b
                | Цены на большую площадь и другие услуги можно узнать позвонив по телефонам ниже.
        .row
          .col-md-6.col-md-offset-3.text-center.col-sm-12.col-xs-12
            .addr
              ul
                li
                  i.fa.fa-map-marker
                  | г.Киев, ул.Березняковская, д.27
                li
                  i.fa.fa-mobile-phone
                  | (068) 126-83-79
                li
                  i.fa.fa-mobile-phone
                  | (095) 636-86-75
                li
                  i.fa.fa-mobile-phone
                  | (095) 636-86-75
              li 
                h3[style="color:red"]
                  b
                    | Новым клиентам СКИДКИ на первую уборку 10%! Звоните сейчас!