.theme-default
  #slider.nivoSlider
    img[src="images/cleaning1.png" data-thumb="images/cleaning1.png" alt="Клининговые услуги" title="Наша компания занимается клининговыми услугами."]
    img[src="images/cleaning2.png" data-thumb="images/cleaning2.png" alt="Уборка, клининг, уборка любой сложности" title="Мы выполняем уборку любой сложности, а также любых помещений"]
    img[src="images/service1.png" data-thumb="images/service1.png" alt="Ремонт стиральных машин" title="Также мы предоставляем услуги по ремонту стиральных машин, электроплит"]
    img[src="images/service2.png" data-thumb="images/service2.png" alt="Ремонт холодильников, посудомоечных машин, электродуховок, а также любой техники" title="Ремонтируем холодильники, посудомоечные машины, пароварки, микровалновки и др."]
