.row.contact-form
  .secHeader
    h3.text-center
      | Вызов Мастера онлайн
  fieldset.col-md-12.col-sm-12
    = form_for @call_master, url: call_masters_path do |f|
      - if @call_master.errors.any?
          #error_explanation
            .alert.alert-error
              | Проблемы возникли со следующими полями
            ul
              - @call_master.errors.full_messages.each do |msg|
                li
                  | *** 
                  = msg
      = f.text_field :name, :placeholder => 'Имя'

      = f.text_field :phone, :placeholder => 'Телефон в формате 38095XXXXXXX'
       
      = f.text_field :breaking, :placeholder => 'Что сломалось?'
      
      = f.text_area :address, :placeholder => 'Укажите Ваш адресс для приезда мастера'

      = f.submit :Отправить, class:'btn btn-info'
      end
    end
