body {
background: #eee; 
margin: 0px; 
padding: 0px;
}

#title {
margin: 0px auto 0px auto; 
width: 960px;
}

#title-text{
font-family: Tahoma, Geneva, sans-serif; 
color: #000; 
text-shadow: 1px 1px 1px #fff; 
font-size: 26px; 
font-weight: bold; 
margin: 40px 0px 10px 0px;
}

#header {
background: black; 
width: 100%; 
height: 30px; 
margin: 0px; 
padding: 10px 0px 0px 0px;
}

a.upmenulink, a.upmenulink:active, a.upmenulink:visited {
font-family: Tahoma, Geneva, sans-serif; 
font-size:15px; 
font-weight: bold; 
text-align: center; 
padding: 0px; 
color: #fff; 
text-decoration: none; 
padding-bottom: 5px; 
padding-top: 0px; 
padding-left:0; 
padding: 10px; 
padding-top: 10px; 
padding-bottom: 15px;
}

a.upmenulink:hover {
background: url(../images/menu_hover.png); 
color: #d45151; 
text-decoration: none; 
padding: 10px; 
border: 0px solid #292929; 
border-bottom: 0px; 
padding-top: 10px; 
padding-bottom: 15px;
}

#main-container {
width: 940px; 
height: auto; 
background: none; 
display: table; 
margin: 30px auto 10px auto;  
padding: 5px 5px 5px 5px;
}