doctype html
html
  head
    title
      | PlatinumService
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    link[href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css']
    script[src="js/modernizr.custom.js"]
    = render 'shared/ie'
  body
    = render 'shared/header'
    = render 'shared/slider'
    = render 'shared/flash'
    = yield
    = render 'shared/services'
    = render 'shared/how_work'
    = render 'shared/about'
    = render 'shared/contact'
    = render 'shared/footer'
    
    script[src="js/jquery-1.10.2.min.js"]
    script $.fn.cycle.defaults.autoSelector = '.slideshow'
    script[src="js/jquery.cycle2.min.js"]
    script[src="js/jquery.cycle2.carousel.min.js"]
    script[src="js/jquery.cookie.js"]
    script[src="js/others.js"]
    script[src="js/jquery.nivo.slider.js"]
    script[src="js/lib/jquery.mousewheel-3.0.6.pack.js"]1
    




      